langchain
openai
unstructured[pdf2image]
pdfminer.six
tiktoken
FastAPI[all] ~= 0.96.0
fastapi-cognito ~= 2.3.0
python-multipart ~= 0.0.6
sqlmodel[postgresql] ~= 0.0.8
pgvector
psycopg2-binary
gunicorn
python-jose[cryptography]
httpx
# pyjwt[crypto]